@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    margin: 0;
    background-color: #cdcdcd;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.btn, .dBtn, .navBtn {
    cursor: pointer;
}

i {
    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.usernameBox {
    left: 5px;
    bottom: 5px;
    position: absolute;
    color: rgb(0,0,0, 0.6);
}