@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
    margin: 0;
    background-color: #cdcdcd;
    font-family: 'Montserrat', sans-serif;
}

div.contentWrapper {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 20px;
    max-width: 80%;
    margin: 10px auto;
}