nav.topnav {
    background-color: #071013;
    height: 50px;
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

input.searchBar {
    border-radius: 22px;
    width: 40%;
    height: 65%;
    border: none;
    display: block;
    padding-left: 15px;
    background-color: #fff;
    font-family: 'Montserrat';
}

input.searchBar::-webkit-search-cancel-button {
    position: relative;
    right: 10px;
}

input.searchBar:focus {
    outline: 0;
}

.navIcon {
    height: 30px;
    width: 30px;
}

.navIconContainer {
    position: absolute;
    right: 20px;
}