@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 350px) {
	#editPageText {
		display: none;
	}
}

#settingsbox {
	top: 0px;
	right: 0px;
	position: absolute;
	padding: 3px;
	background-color: #212121;
	color: white;
}

.settingstext {
	margin-top: 5px;
}

#settingslink {
	text-decoration: none;
	color: white;
}

#containerPencil {
	width: 20px;
	height: 20px;
}

a.addLinkElement {
	position: absolute;
	display: inline;
	margin: 2px;
	right: 2px;
}

header {
	position: relative;
}