@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

div.contentWrapper {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-auto-rows: minmax(200px, auto);
    grid-gap: 20px;
    max-width: 80%;
    margin: 10px auto;
}

ul.linkContainer {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    list-style-type: none;
    padding: 0 0 24px;
    border-radius: 15px;
    box-shadow:2px 2px 7px 3px rgba(0,0,0,0.2);
}

header.linkContainerHeader {
    display: flex;
    background-color: #071013;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 35px;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

a.linkA {
    display: block;
    text-decoration: none;
    padding: 5px;
    color: #071013;
    font-family: 'Roboto';
    font-weight: 500;
    border-left: solid 5px #a8abab transparent;
    transition: 0.1s;
}

a.linkA:hover {
    filter: brightness(40%);
}